/* @override 
    http://127.0.0.1:8000/css/site.css
    http://newartisans.com/css/site.css
	http://johnwiegley.com/css/site.css */

@media screen {
body {
    background-color: rgba(21, 92, 180, 0.27);
}

#container {
    margin: 1in;
    margin-top: 6ex;
    padding: 1em;
    padding-top: 5ex;
    font-family: Palatino, serif;
    font-size: 130%;
    background-color: #ffffff;
}

#title {
    font-size: 160%;
    font-weight: bold;
    padding-bottom: 2ex;
}

#header {
    border-bottom: 1px solid #333;
}

#header, #footer {
    text-align: center;
}

#menu {
    font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    font-variant: small-caps;
}

#menu ul {
    list-style: none;
}

#menu li {
    display: inline-block;
    padding-right: 1em;
}

.article {
    margin: 2em;
}

.article-title {
    font-size: 120%;
    font-weight: bold;
}

.article-date {
    float: right;
    padding-right: 1em;
}

.article-content {
    margin: 2em;
    margin-top: 1.5em;
    margin-right: 3em;
    line-height: 3ex;
    text-align: justify;
}

.article-content h1 {
    margin-top: 2ex;
    font-size:  160%;
}

.article-content h2 {
    margin-top: 3ex;
    font-size:  140%;
}

.teaser {
    margin: 2em;
    margin-top: 2em;
    margin-bottom:  1.5em;
    border-bottom: 1px solid #ccc;
}

.teaser-title {
    font-size: 120%;
    font-weight: bold;
}

.teaser-date {
    float: right;
    padding-right: 1em;
}

.teaser-body {
    margin: 2em;
    margin-top: 1.5em;
    margin-right: 3em;
    margin-bottom:1em;
    line-height: 3ex;
    text-align: justify;
}

#archive-list {
    margin: 2em;
}

.archive {
    margin-bottom: 1ex;
}

.archive-title {
    font-size: 100%;
}

.archive-title a {
    color: blue; 
    text-decoration: none;
}

.archive-date {
    float: right;
    padding-right: 1em;
}

.archive-date a {
    color: black; 
    text-decoration: none;
}

#footer {
    border-top: 1px solid #333;
    font-style: italic;
    padding-top: 2ex;
    text-align: left;

}

#subscribe {
    float:  right;
}

blockquote {
    font-family: Palatino, serif;
    font-style: italic;
}

table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode, table.sourceCode pre
   { margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none; }

td.lineNumbers { border-right: 1px solid #AAAAAA; text-align: right; color: #AAAAAA; padding-right: 5px; padding-left: 5px; }
td.sourceCode { padding-left: 5px; }

.sourceCode span.kw { color: #007020; font-weight: bold; }
.sourceCode span.dt { color: #902000; }
.sourceCode span.dv { color: #40a070; }
.sourceCode span.bn { color: #40a070; }
.sourceCode span.fl { color: #40a070; }
.sourceCode span.ch { color: #4070a0; }
.sourceCode span.st { color: #4070a0; }
.sourceCode span.co { color: #60a0b0; font-style: italic; }
.sourceCode span.ot { color: #007020; }
.sourceCode span.al { color: red; font-weight: bold; }
.sourceCode span.fu { color: #06287e; }
.sourceCode span.re { }
.sourceCode span.er { color: red; font-weight: bold; }

pre {
    padding: 2em;
    padding-top: 2ex;
    padding-bottom: 2ex;
    background-color: rgba(0, 0, 0, 0.04);
    border: 1px solid #ccc;
}

#navlinks {
    margin: 1em;
}

#navlinkolder {
    float:  right;
}
}

@media print {
	
}