<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="Cache-Control" content="max-age=86400, must-revalidate" />
        <title>$title$</title>
        <link rel="stylesheet" type="text/css" href="/css/hemingway.css" />
        <link rel="stylesheet" type="text/css" href="/css/white.css" />
        <link rel="alternate" type="application/rss+xml" href="/rss.xml" />
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-25776044-1']);
          _gaq.push(['_setDomainName', 'dannysu.com']);
          _gaq.push(['_trackPageview']);

          (function() {
              if (document.URL.indexOf("dannysu.com") >= 0) {
                  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              }
          })();

        </script>
    </head>
    <body>
        <div id="header">
            <div class="inside">
                <div id="search">
                    <form method="get" id="sform" action="/search.html">
                        <div class="searchimg"></div>
                        <input type="text" id="q" value="" name="q" size="20" class="searchbox">
                    </form>
                </div>

                <h2><a href="/">Danny Su</a></h2>
                <div class="links">
                    <a href="mailto:contact@dannysu.com" class="toplink" target="_blank"><img src="/images/email.png"></a>
                    <a href="http://www.linkedin.com/in/dannysu" class="toplink" target="_blank"><img src="/images/linkedin.png"></a>
                    <a href="http://github.com/dannysu/" class="toplink" target="_blank"><img src="/images/github.png"></a>
                    <a href="http://twitter.com/cwdannysu" class="toplink" target="_blank"><img src="/images/twitter.png"></a>
                </div>
            </div>
        </div>

        $body$

        <div id="ancillary">
            <div class="inside">
                <div class="block first">
                    <div class="widget">
                        <h2>Pages</h2>
                        <div class="menu-pages-container">
                            <ul id="menu-pages" class="menu">
                                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/about-me/">About Me</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/past-personal-projects/">Past Personal Projects</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/work-experience/">Work Experience</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/past-and-present-phones/">Past and Present Devices</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="widget">
                        <div class="textwidget">
                            <small>Powered by <a href="http://jaspervdj.be/hakyll/index.html" class="links">Hakyll</a>. Site source on <a href="http://github.com/dannysu/hakyll-blog" class="links">github</a>.</small>
                        </div>
                    </div>

                    <div class="widget">
                        <br>
                        <a href="/rss.xml" class="toplink" target="_blank"><img src="/images/rss.png"></a>
                    </div>
                </div>

                <div class="block">
                    <div class="widget">
                        <h2>Recent Posts</h2>
                        <ul>
                            $recent$
                        </ul>
                    </div>
                    <div class="widget">
                        <div class="textwidget">
                            <a href="/blog/page/6/" class="readmore">more...</a>
                        </div>
                    </div>
                </div>

                <div class="block">
                    <div class="widget">
                        <h2>Labels</h2>
                        <ul>
                            <li class="cat-item"><a href="/label/amazon/" title="View all posts filed under Amazon.com">Amazon.com</a></li>
                            <li class="cat-item"><a href="/label/apple/" title="View all posts filed under Apple">Apple</a></li>
                            <li class="cat-item"><a href="/label/freebsd/" title="View all posts filed under FreeBSD">FreeBSD</a></li>
                            <li class="cat-item"><a href="/label/google/" title="View all posts filed under Google">Google</a></li>
                            <li class="cat-item"><a href="/label/life-on-earth/" title="View all posts filed under Life on Earth">Life on Earth</a></li>
                            <li class="cat-item"><a href="/label/linux-unix-qnx/" title="View all posts filed under Linux/Unix/QNX">Linux/Unix/QNX</a></li>
                            <li class="cat-item"><a href="/label/mad-coding/" title="View all posts filed under Mad Coding">Mad Coding</a></li>
                            <li class="cat-item"><a href="/label/microsoft/" title="View all posts filed under Microsoft">Microsoft</a></li>
                            <li class="cat-item"><a href="/label/miscellaneous/" title="View all posts filed under Miscellaneous">Miscellaneous</a></li>
                            <li class="cat-item"><a href="/label/ocvolume/" title="View all posts filed under OCVolume">OCVolume</a></li>
                            <li class="cat-item"><a href="/label/security/" title="View all posts filed under Security">Security</a></li>
                            <li class="cat-item"><a href="/label/start-up/" title="View all posts filed under Start-up">Start-up</a></li>
                        </ul>
                    </div>
                </div>

                <div class="clear"></div>
            </div>
        </div>
        <hr class="hide">
        <br class="clear">
    </body>
    <script src="/files/syntaxhighlighter_3.0.83/scripts/shCore.js" type="text/javascript"></script>
    <link type="text/css" rel="stylesheet" href="/files/syntaxhighlighter_3.0.83/styles/shCoreDefault.css"/>
    <script src="/files/syntaxhighlighter_3.0.83/scripts/shBrushPython.js" type="text/javascript"></script>
    <script src="/files/syntaxhighlighter_3.0.83/scripts/shBrushCpp.js" type="text/javascript"></script>
    <script src="/files/syntaxhighlighter_3.0.83/scripts/shBrushBash.js" type="text/javascript"></script>
    <script src="/files/syntaxhighlighter_3.0.83/scripts/shBrushCSharp.js" type="text/javascript"></script>
    <script src="/files/syntaxhighlighter_3.0.83/scripts/shBrushRuby.js" type="text/javascript"></script>
    <script src="/files/syntaxhighlighter_3.0.83/scripts/shBrushJScript.js" type="text/javascript"></script>
    <script src="/files/syntaxbrushes/shBrushObjC.js" type="text/javascript"></script>
    <script src="/files/syntaxbrushes/shBrushHaskell.js" type="text/javascript"></script>
    <script src="/files/syntaxbrushes/shBrushClojure.js" type="text/javascript"></script>
    <link type="text/css" rel="stylesheet" href="/files/syntaxbrushes/shClojureExtra.css"/>
    <script type="text/javascript">
      SyntaxHighlighter.defaults['toolbar'] = false;
      SyntaxHighlighter.all();
    </script>
</html>
