<div class="article">
  <div class="article-date">
    <a href="/archives/index.html#$year$$mon$$day_$">$month$ $day$, $year$</a>
  </div>
  <div class="article-title">$title$</div>
  <div class="article-content">$body$</div>
  <div id="comments">
    <div id="disqus_thread"></div>
<script>var disqus_config = function () {
    this.page.url = "http://newartisans.com$url$";
    this.page.identifier = "$ident$";
};
(function() {
    var d = document, s = d.createElement('script');
    s.src = 'https://newartisans.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
})();</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</div>
